[features]
resolution = true
skip-lint = false

[programs.localnet]
prediction_program = "9fDpLYmAR1WtaVwSczxz1BZqQGiSRavT6kAMLSCAh1dF"

[programs.devnet]
prediction_program = "9fDpLYmAR1WtaVwSczxz1BZqQGiSRavT6kAMLSCAh1dF"

[programs.mainnet]
prediction_program = "9fDpLYmAR1WtaVwSczxz1BZqQGiSRavT6kAMLSCAh1dF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
